/* ==========================================================================
Styles for Menu Accordion
========================================================================== */

// import mixin and variables
@import "../../../assets/styles/helper/function", "../../../assets/styles/helper/mixin",
  "../../../assets/styles/project/init/variables";

// Start styles Menu Accordion

.o-menu-accordion {
    min-height: auto;
    width: 100%;
    background-color: color(white);
    border-radius: 8px;
    -webkit-border-radius: 8px;
    @include shadow('on-white');

    &__header-wrapper {
        padding: 20px 40px;
        height: 64px;
        width: 100%;

        .icon-wrapper {
            position: relative;
            margin-top: -24px;
            float: right;
            
            img {
                height: 24px;
                width: 24px;
                -webkit-transition: -webkit-transform .2s ease-in-out;
                -ms-transition: -ms-transform .2s ease-in-out;
                transition: transform .2s ease-in-out; 
                &.is_active {
                    transform:rotate(180deg);
                    -ms-transform:rotate(180deg);
                    -webkit-transform:rotate(180deg);
                }
            }
        }

        &:hover {
            cursor: pointer;
        }
    }

    &__content-wrapper {
        display: none;
        &.is_active {
            display: block;
        }
        position: relative;
        padding: 40px;
        border-top: 1px solid color(gray, 50);
        @include small {
          padding: 20px;
        }

      
    }
}