/* ==========================================================================
Styles for Card Dashboard component
========================================================================== */

// import mixin and variables
@import "../../../assets/styles/helper/function", "../../../assets/styles/helper/mixin",
  "../../../assets/styles/project/init/variables";

// Start styles Card Dashboard component

.o-card-dashboard {
    position: relative;
    height: 192px;
    width: 100%;
    background-color: color(white);
    border-radius: 8px;
    -webkit-border-radius: 8px;
    @include shadow('on-white');
    @include small {
        height: 326px;
    }
    &__image-wrapper {
        width: 252px;
        height: 100%;
        position: absolute;
        overflow: hidden;
        left: 0;
        @include small {
            position: relative;
            height: 80px;
        }
        img {
            border-bottom-left-radius: 8px;
            border-top-left-radius: 8px;
            width: 252px;
            height: 100%;
            object-fit: cover;

            @include small {
                height: 80px;
            }
        }
        &--d {
            display: block;

            @include small {
                display: none;
            }
        }

        &--m {
            display: none;

            @include small {
                display: block;
            }
        }

    }
    &__wrapper {
        height: 192px;
        padding-left: 20%;
        display: table;

        @include small {
            padding-left: 0;
            padding-right: 24px;
            padding-top: 24px;
        }

    }

    &__text-wrapper {
        width: 70%;
        padding-left: 32px;
        display: table-cell;
        vertical-align: middle;
        h4 {
            padding-bottom: 8px;
        }
        @include small {
            width: 100%;
            padding-left: 20px;
            display: block;
        }
    }

    &__button-wrapper {
        .a-button {
            right: 40px;
            top: 40%;
            position: absolute;
            min-width: 100px;

            @include small {
                right: 0;
                margin-top: 16px;
                margin-left: 24px;
                position: relative;
                display: block;
            }
        }
    }

}
