/* ==========================================================================
Styles for Stepper Form Vertikal component
========================================================================== */

// import mixin and variables
@import "../../../assets/styles/helper/function",
"../../../assets/styles/helper/mixin",
"../../../assets/styles/project/init/variables";

// Start styles Stepper Form Vertikal component

.o-stepper-form-vertikal {
  display: table-cell;
  vertical-align: middle;
  &__step-wrapper {
      display: table-cell;
      vertical-align: middle;
      border-radius: 50%;
      height: 24px;
      width: 24px;
      background-color: #DADADA;
      .value {
          text-align: center;
          // padding: 4px 2px;
          font-size: 16px;
          color: color(gray, 100);

          i {
              font-size: 16px;
              font-weight: 700;
              color: color(white);
          }
      }

      &.is-active {
          background-color: #FFBC1F;
          .value {
              color: color(black);
          }
      }
      &.is-done {
          background-color: #528DE0;
      }
      @include small {
          display:none;
      }
  }

  &__text-wrapper {
      display: table-cell;
      vertical-align: middle;
      font-size: 16px;
      line-height: 24px;
      font-size: 16px;
      padding-top: 1px;
      padding-left: 10px;
      &.is-active {
          font-weight: 700;
      }
      @include small {
          display: none;
          &.is-active {
              display: table-cell;
          }
          padding-left: 10px;
          padding-right: 0px;
      }
  }
}
